@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Pacifico&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light; /* color of browser-provided UI */

  --color-primary: #8d448b;
}

@theme {
  --font-dmSans: "DM Sans", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}
